:root {
  --color1: #ff9eaa;
  --color2: #ffd0d0;
  --color3: #f5f5f5;
  --color4: #080202;
  --shadow: 0 4px 4px rgb(0, 0, 0, 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg-hero-1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.8rem;
}

.hero p {
  font-size: 1.6rem;
}

.hero a {
  color: var(--color3);
  background-color: var(--color1);
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--color3);
  color: var(--color1);
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.home {
  background-image: url(img/bg-home.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6.1rem;
  padding-top: 10rem;
  padding-bottom: 6rem;
}

.home h2,
.info h2,
.story h2 {
  color: var(--color1);
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #555555;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Sacramento", cursive;
  font-size: 2.4rem;
  color: var(--color1);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: var(--color3);
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--color1);
}

.info {
  background-color: var(--color4);
  color: var(--color3);
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: var(--color3) !important;
  border: 1px solid #898989;
}

.info .card-header {
  border: 1px solid #898989;
  text-transform: uppercase;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #898989;
  font-size: 0.9rem;
  font-weight: 300;
}

.story {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span {
  text-transform: uppercase;
  color: #555555;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p {
  font-size: 1rem;
  font-weight: 300;
}

/* media query */

/* extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
  }

  .home .heart {
    display: none;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .simply-countdown > .simply-section {
    padding: 50px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }
}

/* ponsel */
@media (max-width: 576px) {
  html {
    font-size: 68%;
  }

  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 2px;
  }
}
